<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="translucent">
        <ion-icon
          size="small"
          slot="icon-only"
          name="star-outline"
          color="primary"
        ></ion-icon>
      </ion-button>
      <ion-button id="open-action-sheet" shape="round" color="translucent">
        <ion-icon
          size="small"
          slot="icon-only"
          name="pencil-outline"
          color="primary"
        ></ion-icon>
        <ion-action-sheet
        trigger="open-action-sheet"
        [buttons]="actionSheetButtons"
></ion-action-sheet>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="contact">
  <div class="ion-text-center">
    <img
      src="{{ contact.image}}"
      alt=""
    />
  </div>
  <ion-card-header>
    <ion-card-title>{{ contact.name }}</ion-card-title>
    <ion-card-subtitle>{{ contact.id }}</ion-card-subtitle>
  </ion-card-header>

  <div class="function ion-text-center" >
    <ion-icon name="call-outline" size="large">Ligar</ion-icon>
    <ion-icon name="mail-outline" size="large">SMS</ion-icon>
    <ion-icon name="videocam-outline" size="large">Vídeochamada</ion-icon>
  </div>

<ion-card>
  <ion-item>
    <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    <ion-label>{{ contact.fullname }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="at-outline" slot="start"></ion-icon>
    <ion-label>{{ contact.email }}</ion-label>
  </ion-item>

</ion-card>
  <div *ngIf="!contact" class="failed">
    <ion-icon color="danger" name="sad-outline"></ion-icon>
    <p color="danger">
      Não foi possível carregar seu contato! <br> <strong>Reinicie a aplicação...</strong></p>
    <ion-button color="dark" (click)="goToRoute('home')">Voltar para Home</ion-button>
  </div>
</div>
</ion-content>
