ion-card-title {
  font-weight: bold;
  text-align: center;
}

ion-card-subtitle {
  font-weight: bold;
  text-align: center;
}

img {
  width: 50vw;
  height: 50vw;
  margin-top: 4%;
  border-radius: 50%;
}

.function{
  color: #3880ff;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
